      body {
          background-color: #E1E8ED;
          font-family: sans-serif;
      }
      
      a {
          text-decoration: none;
          color: #053858;
      }
      
      a:hover {
          color: #0D95E8;
      }
      /* Nav bar styling */
      
      .navbar {
          -webkit-box-shadow: 0 0px 5px #657786;
          -moz-box-shadow: 0 0px 5px #657786;
          box-shadow: 0 0px 5px #657786;
          background-color: #657786;
      }
      
      nav a {
          font-size: 1.5rem;
          color: #AAB8C2
      }
      
      .active i {
          color: #1DA1F2;
      }
      
      .searchbar input {
          border: none;
          background-color: transparent;
      }
      
      .searchbar textarea:hover,
      .searchbar input:hover,
      .searchbar textarea:active,
      .searchbar input:active,
      .searchbar textarea:focus,
      .searchbar input:focus,
      .searchbar button:focus,
      .searchbar button:active,
      .searchbar button:hover,
      .searchbar label:focus,
      .searchbar .btn:active,
      .searchbar .btn.active {
          outline: 0px !important;
          -webkit-appearance: none;
          box-shadow: none !important;
          background-color: #E1E8ED!important;
      }
      
      .searchbar {
          border-radius: 20px;
          padding: 12px;
          background-color: #E1E8ED;
      }
      
      .searchbar i {
          color: #AAB8C2;
      }
      
      .navNameBar span {
          font-size: 1.1rem;
          font-weight: bold;
      }
      
      .navNameBar i {
          font-weight: lighter;
      }
      
      .navName {
          color: #14171A;
          font-style: normal;
      }
      
      .postDiv {
          background-color: #F5F8FA;
          margin-bottom: 2px;
      }
      
      .postDiv:hover {
          background-color: #f1f5f8f8;
      }
      
      .postDiv .name {
          color: #14171A;
          font-weight: bold;
      }
      
      .twitter-blue-text {
          color: #1DA1F2;
      }
      
      .twitter-red-text {
          color: #e0245e;
      }
      
      .dropdownMenuLink {
          color: #AAB8C2;
      }
      
      .dropdown-menu {
          background-color: #F5F8FA;
      }
      
      .postbar {
          width: 250px;
          color: #657786;
          font-size: 14px;
      }
      
      .textboxLogos {
          font-size: 25px;
          color: #1DA1F2;
      }
      
      .textboxPost,
      .textboxPost:focus,
      .textboxPost:active,
      .textboxPost:hover {
          border: #657786;
          border-width: 1px;
          outline: none;
          outline: none !important;
          box-shadow: none;
          background-color: #E1E8ED;
          height: 80px;
      }
      
      .postDiv .btn-primary,
      .postDiv .btn-primary:focus,
      .postDiv .btn-primary:active,
      .postDiv .btn-primary:hover {
          background-color: #1DA1F2;
          border-radius: 15px;
          height: 40px;
          color: #F5F8FA;
          border: none;
          outline: none;
          outline: none !important;
          box-shadow: none;
      }
      
      .postDiv .btn-outline-primary,
      .postDiv .btn-outline-primary:focus,
      .postDiv .btn-outline-primary:active,
      .postDiv .btn-outline-primary:hover {
          background-color: transparent;
          border-radius: 15px;
          height: 40px;
          color: #1DA1F2;
          border-color: #1DA1F2;
          outline: none;
          outline: none !important;
          box-shadow: none;
      }
      
      .hidebtn {
          background-color: transparent;
          color: #1DA1F2;
          border: none;
      }
      /** for the all of the post buttons **/
      /** comment and save  **/
      
      .comment-hover button,
      .save-hover button {
          background-color: transparent;
          border: none;
          border-radius: 50%;
          color: #657786;
      }
      
      .comment-hover:hover button,
      .save-hover:hover button {
          background: rgb(29, 161, 242);
          background: linear-gradient(90deg, rgba(29, 161, 242, 0.21052170868347342) 0%, rgba(29, 161, 242, 0.14049369747899154) 100%);
          color: #1DA1F2;
          border-radius: 50%;
          border: none;
      }
      
      .save-hover:hover,
      .comment-hover:hover {
          color: #1DA1F2;
      }
      /** retweet button  **/
      
      .repeat-hover button {
          background-color: transparent;
          border: none;
          border-radius: 50%;
          color: #657786;
      }
      
      .repeat-hover:hover button {
          background: #3faf829b;
          background: linear-gradient(90deg, rgb(63, 175, 131, 0.21052170868347342) 0%, rgb(63, 175, 131, 0.14049369747899154) 100%);
          color: #3faf83;
          border-radius: 50%;
          border: none;
      }
      
      .repeat-hover:hover {
          color: #3faf83;
      }
      /** like button  **/
      
      .like-hover button {
          background-color: transparent;
          border: none;
          border-radius: 50%;
          color: #657786;
      }
      
      .like-hover:hover button {
          background: rgb(255, 0, 0);
          background: linear-gradient(90deg, rgba(255, 0, 0, 0.21052170868347342) 0%, rgba(255, 0, 0, 0.14049369747899154) 100%);
          color: #FF0000;
          border-radius: 50%;
          border: none;
      }
      
      .like-hover:hover {
          color: #FF0000;
      }
      
      .commented,
      .commented button {
          color: #1DA1F2;
          font-weight: bold;
      }
      
      .retweeted,
      .retweeted button {
          color: #3faf83;
          font-weight: bold;
      }
      
      .liked,
      .liked button {
          color: #FF0000;
          font-weight: bold;
      }
      
      .saved,
      .saved button {
          color: #1DA1F2;
          font-weight: bold;
      }
      /** end for the all of the post buttons **/
      
      .post-image {
          border: #657786;
      }
      /**** just for test.html**/
      
      .followButton {
          width: 100px;
      }
      
      .followButtoncopy {
          width: 100px;
      }
      
      .smallPush {
          margin-bottom: 1px;
          border-radius: 2px;
      }
      
      .aboveStickyZIndex {
          z-index: 1022;
      }
      
      .retweet-text {
          font-size: 12px;
          color: #657786;
      }
      
      .retweet-text:hover {
          color: #657786;
      }
      
      .small-text {
          font-size: 12px;
      }
      
      .main-profile-image {
          border: 5px solid #F5F8FA;
          margin-top: -100px;
      }
      
      .blue-background {
          background-color: #1DA1F2;
      }
      
      .blue-heading {
          font-size: 20px;
          color: #F5F8FA;
      }
      
      .text-vertical-align {
          vertical-align: middle
      }
      
      .extra-large-text {
          font-size: 50px;
      }
      
      .max-width-form {
          max-width: 400px;
      }
      /*** anything smaller than the large breakpoint***/
      
      @media (max-width:992px) {
          .w-sm-100 {
              width: 100%!important;
          }
      }
      
      .input-focus-blue:focus {
          border-color: #1DA1F2!important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #1DA1F2;
      }
      
      .input-red-glow {
          border-color: #FF0000;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
      }
      
      .invalid-text {
          color: #FF0000;
      }
      
      .underline-hover:hover {
          text-decoration: underline;
      }
      
      .btn-outline-primary:hover {
          background-color: #1da0f213!important;
      }
      
      .btn-primary:hover {
          background-color: #1da0f2d8!important;
      }
      
      .upload-hidden {
          display: none;
      }
      
      .full-width {
          width: 100%;
      }